*{
    box-sizing: border-box;
}
.box:nth-child(odd){
    background:green;
}
p::first-line{
    color:green;
}
.box{
    border:1px solid black;
    height:100px;
    width:100px;
}
.box:hover{
    background-color: red;
}
a:link{
    background:red;
}
a:active{
    background:green;
}